.clear-btn{
    display: flex;
    flex: 1;
    height: 4em;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1em;
    border: 1px solid #000;
    background-color: #888;
}