.container{
 width: 100%;
   
}
.row{
    width: 100%;
    margin: 50px 0;
}
.col-lg-6{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0 ;

}

@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');

*{
    font-family: 'Otomanopee One', sans-serif;
    font-size: 18px;
}
